[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
flask-cors = "*"
requests-oauthlib = "*"
flask = "*"
flask-jwt-extended = "*"
pytest = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.8"
